:root{
  --black:#0C151D;
  --plomo:#A3ABB2;
  --white:#F1F2F4;
  --yellow:#FFE071;
  --lg:large;
  --sm:small;
  --mm:medium;
  }

  .main{
    display:flex;
    flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float:center;
     width: 2000px;
     
      
  }
  
  .image{
    width: 196px;
    height: 196px;
    flex-shrink: 0;
  border-radius: 192px;
  justify-content: center;
  align-items: center;
  
  
  }
  
  h1{
      color:var(--white);
      font-weight: 800;
      line-height: normal;
  }
  p{
   
      color:var(--plomo);
  }
  .cuadro-title{
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  
  }
  .cuadro-cuadrito-title{
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: left;
  align-items: left;
  
  font-family: Poppins;
  
  }
  .cuadro-texto{
  display: flex;
  width: 600px;
  padding: 20px 2px;
  justify-content: center;
  
  

  }
  .icons{
      width: 372px;
      height: 156px;
      flex-shrink: 0;
      color: var(--plomo);
      cursor: pointer;
  }
  .cuadro-cuadrito-texto{
      color: var(--plomo);
      flex-flow: row wrap;
      display:flex;
      
      width:200px;
      height: 50px;
     
      justify-content: center;
      align-items: center;
   
  
  
  }
  .botones{
   display:list-item;
    align-items: center;
    justify-content: center;
  }
  .boton{
      color: var(--black);
      font-size:var(--lg);
      width: 290px;
      height: 80px;
      flex-shrink: 0;
      border-radius: 10px;
  background-color: var(--yellow);

  align-items: center;
  
  }
  .cuadro-cuadrito-texto-title{
      font-weight: 100;
      display : flex;
      justify-content: center;
      line-height: normal;
     
  }
  .cuadro-cuadrito-texto-texto{
      display:flex;
      font-weight: 500;
      justify-content: center;
  
  }
  .imagedown{
      width: 362px;
      height: 226px;
      flex-shrink: 0;
      border-radius: 15px;
  
  }
  .container-image{
   width: 757px;
  height: 826px;
  flex-shrink: 0;
  border-radius: 20px;
  align-items:normal;
  border-radius: 60px;
  justify-content: center;
  }
  .boton-black{
      color: var(--plomo);
      font-size:var(--lg);
      width: 290px;
      height: 80px;
      flex-shrink: 0;
      border-radius: 10px;
  background-color: var(--black);
  
  align-items: center;
  
  }
.App {
  
  display:flex;
  text-align: center;
  width: 1350px;
  height: auto;
  background-color:var(--black);
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
